@font-face {
  font-family: "Pixelify";
  src: url("../Pixelify_Sans/PixelifySans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-image: url(../imagens/dia-papel_de_parede.gif);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  overflow: hidden;
}

.container-geral {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.tela-esquerda {
  width: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.barra-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
}

.img-perfil {
  display: flex;
  width: 8rem;
  height: 8rem;
  flex-wrap: wrap;
  align-content: end;
  justify-content: center;
  align-self: center;
}

.img-perfil #imagem-do-Perfil {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}

.img-perfil #moldura {
  position: absolute;
  transform: translateY(-15%);
  width: 13rem;
  height: 13rem;
}

img {
  width: 100%;
  border-radius: 50%;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-box label {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  color: black;
}

.bars {
  background-color: #cdcdcd;
  height: 1.4rem;
  width: 12rem;
  border: 3.5px solid black;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}

.bars > span {
  height: 1.4rem;
  position: absolute;
  transition: all 0.3s ease;
}

.bars > h2 {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  z-index: 9;
  transition: all 0.3s ease;
}

#rank {
  background-color: rgb(245, 245, 86);
  transition: all 0.3s ease;
}

#life {
  background-color: #ff5757;
  transition: all 0.3s ease;
}

.area-personagem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.tituloUsuario {
  text-align: center;
  height: 4rem;
}

#nome-usuario {
  align-self: center;
  font-size: 2rem;
  font-family: "Pixelify";
  color: black;
}

.personagem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.personagem img {
  width: 24rem;
}

.base {
  position: absolute;
  background-color: black;
  width: 12rem;
  height: 5rem;
  border-radius: 50%;
  align-self: center;
  bottom: 4%;
  align-self: center;
  margin-right: 1.5rem;
  z-index: -1;
  border: 3px solid #ff5757;
  box-shadow: 0px 5px 15px #ff5757;
}

.tela-centro {
  width: 50%;
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: auto;
}

.titulo {
  grid-row: 1;
  align-self: center;
  justify-self: center;
  color: #081930;
  padding-bottom: 1rem;
}

.titulo > h2 {
  align-self: center;
  font-size: 7vw;
  font-weight: 500;
  font-family: "Pixelify";
}

.menu {
  grid-row: 2;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
}

.menu button {
  background-color: transparent;
  border: none;
  font-family: "Pixelify";
  width: 100%;
  font-size: 6.4vw;
  font-weight: 500;
  color: #4ed638;
  -webkit-text-stroke: 3px #339c23;
  justify-self: center;
  cursor: pointer;
}

.menu button:hover {
  text-shadow: 0px 0px 20px #22ff00;
}

/* menu de configuar conta */
.container-account {
  position: absolute;
  align-self: flex-end;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.6rem;
  height: 36rem;
  width: 20rem;
  background-color: #545454;
  top: 100%;
  transition: all 0.3s ease-in-out;
}

.options-account {
  height: 94%;
  width: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.account-box {
  width: 100%;
  height: 25%;
  border: 5px solid #EAE8E5;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box1 {
  align-items: center;
  width: 18%;
}

#account-imagem-do-Perfil {
  border: 3px solid #EAE8E5;
}

#account-moldura {
  background-color: #EAE8E5;
}

.box2 {
  display: grid;
  grid-template-rows: 65% 35%;
  align-items: center;
  height: 100%;
  width: 50%;
}

.imgs-container {
  grid-row: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.imgs-container .slider {
  width: 100%;
  height: 0.7rem;
  border-radius: 0%;
  background: linear-gradient(90deg, #4B4848 100%, #4B4848 0%);
  margin-bottom: 5%;
}

.imgs-container .slider::-webkit-slider-runnable-track {
  height: 0.7rem;
  border-radius: 0%;
}

.imgs-container .slider::-webkit-slider-thumb {
  border-radius: 0%;
  height: 0.7rem;
  width: 10%;
  background-color: #8B8B8B;
}

.imgs-container .slider::-webkit-slider-thumb:hover {
  box-shadow: none;
}

.imgs-container ul {
  height: 3rem;
  width: 100%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 7px;
  align-content: baseline;
  background-color: #4B4848;
  overflow: hidden;
}

.imgs-container ul li {
  transform: translateX(-0rem);
  min-height: 100%;
  margin-right: 7px;
  width: 3rem;
  list-style-type: none;
  align-items: center;
  text-align: center;
}

#imgs-moldura li {
  background-color: #EAE8E5;
}

.imgs-container ul li img {
  height: 3rem;
  width: 3rem;
  border-radius: 0%;
  -webkit-user-drag: none;
  cursor: pointer;
}

#sem-moldura {
  min-height: 100%;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: #8B8B8B;
  cursor: pointer;
}

#sem-moldura {
  width: 3rem;
  margin: 0;
  font-family: sans-serif;
  font-size: 0.6rem;
  font-weight: 600;
}

.box2 button {
  grid-row: 2/2;
  align-self: center;
  width: 100%;
  border-radius: 2rem;
  height: 80%;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: sans-serif;
  border: none;
  padding: 0;
}

.account-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 10%;
}

.account-btn {
  width: 40%;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
}

input[type="file"] {
  width: 100%;
  height: 100%;
  display: none;
}

#div-inputFile {
  grid-row: 2/2;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 2rem;
  height: 80%;
  cursor: pointer;
  padding: 0%;
  background-color: #EAE8E5;
}

#div-inputFile:hover {
  background-color: #cfcfcf;
}

#div-inputFile label {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: sans-serif;
  cursor: pointer;
}

#carrinho-container {
  position: absolute;
  top: 47.8%;
  height: 2.4rem;
  border-radius: 2rem;
  width: 2.4rem;
  background-color: #081930;
  /* background: linear-gradient(90deg, #081930 0%,#EAE8E5  0%); */
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s linear;
}

#carrinho-button{
  background-color: #EAE8E5;
  overflow: hidden;
}

.contem-carrinho {
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

#comprar-carrinho {
  height: 105%;
  width: auto;
  background-color: #EAE8E5;
  transition: all 0.5s linear;
}

#ocupa-botao-carrinho {
  position: absolute;
  top: 47.8%;
  height: 2.4rem;
  border-radius: 2rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 47%;
  color: #EAE8E5;
  z-index: 10;
}

#texto-div {
  height: 0%;
  width: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  pointer-events: none;
}

#personagem-account {
  height: 27%;
}

#box1-personagem img {
  border-radius: 0%;
}

#box2-personagem {
  display: grid;
  grid-template-rows: 5% 30% 63% 2%;
  align-items: center;
  height: 100%;
  width: 50%;
}

#box2-personagem .imgs-container {
  grid-row: 3/3;
}

#box2-personagem > input {
  height: 40%;
  width: 90%;
  background-color: #4B4848;
  border-radius: 2rem;
  border: 0;
  padding: 0.7rem;
  color: #EAE8E5;
  font-size: 1.2rem;
}

#box2-personagem > input:hover {
  background-color: #4e4c4c;
}

#box2-personagem > input:focus {
  border: 0;
  background-color: #3d3b3b;
}

#mudarNome {
  grid-row: 2/2;
}

#imgs-personagem li img {
  height: calc(100% - 2px);
  width: fit-content;
}

#imgs-personagem li {
  background-color: #3d3b3b;
  height: 90%;
}

/* fim do menu de configurar conta */

.tela-direita {
  width: 25%;
}

.barra-opcoes {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-columns: 15% 35% 35% 15%;
  align-items: center;
}

.bar-account {
  grid-row: 1/1;
  grid-column: 2/2;
  display: flex;
  justify-content: center;
}

.account {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #545454;
  overflow: hidden;
}

.account:hover {
  box-shadow: 0px 0px 15px #545454;
}

.account img {
  border-radius: 50%;
  width: 6.2rem;
  height: 6.2rem;
}

.bar-settings {
  grid-row: 1/1;
  grid-column: 3/3;
  display: flex;
  justify-content: center;
}

.settings {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  align-items: center;
  cursor: pointer;
  background-color: #545454;
  overflow: hidden;
}

.settings:hover {
  box-shadow: 0px 0px 15px #545454;
}

.settings img {
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  background-color: #545454;
  transition: all 0.5s ease;
}

.menu-settings {
  position: absolute;
  top: 24%;
  /* right: -26rem; */
  left: 100%;
  width: clamp(22%, 26rem, 25%);
  height: 36rem;
  border-radius: 1.6rem;
  background-color: #545454;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease;
}

.music,
.vol {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.music label,
.vol label {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}

#porcentagem-volume,
#porcentagem-musica {
  display: grid;
  width: 100%;
  height: 100%;
}

#porcentagem-volume h3,
#porcentagem-musica h3 {
  padding-top: 1rem;
  position: fixed;
  align-self: center;
  justify-self: flex-end;
  z-index: 1;
  font-size: 1rem;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 3rem;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 3rem;
  width: 3rem;
  background-color: #8b8b8b;
  border-radius: 50%;
  transform: scale(1.2);
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 15px black;
}

input[type="range"] {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: linear-gradient(90deg, #41b8d5 100%, #eae8e5 0%);
  border-radius: 3rem;
  outline: none;
}

.logado {
  width: 90%;
  height: 7rem;
  background-color: tomato;
  border-radius: 2.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.logado h1 {
  justify-self: center;
  align-self: center;
  font-weight: 700;
  font-size: 2.5rem;
  font-family: sans-serif;
}

.btns-editar-sair {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 90%;
  height: 5.5rem;
}
.btns-editar-sair button {
  height: 100%;
  width: 45%;
  border-radius: 1.5rem;
  border: none;
  justify-self: center;
  align-self: center;
  font-weight: 600;
  font-size: 1.8rem;
  font-family: sans-serif;
}

.btn-editar {
  color: white;
  background-color: #a5a4a7;
}

.btn-editar:hover {
  background-color: #919192;
  box-shadow: 0px 0px 15px black;
}

.btn-sair {
  color: white;
  background-color: #ff5757;
}

.btn-sair:hover {
  background-color: #db4d4d;
  box-shadow: 0px 0px 15px black;
}

.btns-estilo {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 90%;
  height: 7rem;
  border: none;
}

.btns-estilo button {
  height: 7rem;
  width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  border: none;
}

.btns-estilo button:hover {
  transform: scale(0.95);
  box-shadow: 0px 0px 15px black;
}

.tema-claro {
  background-image: url(../imagens/tema-claro.jpg);
}

.tema-escuro {
  background-image: url(../imagens/tema-escuro.avif);
}

@keyframes comprando {
  from{justify-content: flex-start;}
  to{justify-content: flex-end;}
}

@media screen and (max-height: 765px) {
  .container-account {
    height: 34rem;
  }

  .menu-settings {
    height: 34rem;
    top: 24%;
  }

  .base {
    bottom: 2.5%;
  }
}

@media screen and (max-height: 740px) {
  .container-account {
    height: 32rem;
  }

  .menu-settings {
    height: 32rem;
    top: 24%;
  }

  .base {
    bottom: 1.5%;
  }
}
